* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

.custom-shape-divider-bottom-1715438029 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715438029 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
    
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.image-container {
  flex: 1;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.login-wrap {
  flex: 1;
  margin-left: 50px;
  /* adjust margin as needed */
}

.custom-shape-divider-bottom-1715438029 .shape-fill {
    fill: #6F58CD;
}

.navbar {
    height: 80px;
}

.navbar-header a {
    font-size: 40px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #9C97EE;
    margin: 10px;

   /* -webkit-text-stroke: 2px black; /* Adds a stroke */*/
}

.image-container {
    text-align: center; /* Add this to center the image */

}

.image-container img {
    opacity: 0.3;
    max-width: 100%; /* Add this to ensure the image doesn't overflow */
    height: auto; /* Add this to maintain the image's aspect ratio */
  margin-left: 40%;



}
.centered-text {
  position: absolute;
  top: 45%;
 left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: "Freeman", sans-serif;
  letter-spacing: 4px;


}

.centered-text h3 {
    
  font-size: 60px;
  margin-bottom: 0.5rem;
  color: white;
   text-shadow: -1px -5px 11px rgba(0,0,0,0.7);

}

.centered-text h2 {
  font-size: 80px;
  margin-top: 0;
color: white;
   text-shadow: -1px -5px 11px rgba(0,0,0,0.7);

}
.logo {
    width: 40px;
    height: 40px;
   margin-top: -20px;
}


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:700px;
    position:relative;
    border-radius: 100px;
    box-shadow:0 12px 55px 0 rgba(0,0,0,24),0 17px 50px 0 rgba(0,0,0,.19);
    

}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:30px 70px 50px 70px;
  background: #03bafc;
  border-radius: 50px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .8s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;

}
.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 30px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
    justify-content: center;

}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:blue;
    border-color:#1161ee;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
     box-shadow:0 5px 5px 0 rgba(0,0,0,24),0 17px 50px 0 rgba(0,0,0,.19);
    
}
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:25px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#black;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:whitesmoke;
    border-bottom: 2px solid black;
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:black;
    font-size:15px;
    color: white;
    font-weight: 500;
}
.login-form .group .button{
    background:#40db80;
    color: white;
    font-style: bold;
    font-size: 20px;
    font-weight: 500;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}

@media screen and (min-width: 768px) {
    .flex-container {
        flex-direction: row; /* Change to row layout on larger screens */
        justify-content: space-between; /* Add space between image and login on larger screens */
        align-items: center; /* Center items vertically */
    }

    .image-container {
        flex: 1; /* Take up half of the container width */
        text-align: center;
    }

    .login-wrap {
        flex: 1; /* Take up half of the container width */
        margin: 0;
    }
}