

 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Cards | By Code Info</title>
    <link rel="stylesheet" href="imp.css" />
  </head>
  <body>
  	<div class="boxp">
 	<h1><center>ATTENDENCE CALCULATOR</center></h1>
 </div>
    <div class="container">
      <div class="box">
        
        <a href=""><h3>post your attendence</h3></a>
        <p>
          
        </p>
      </div>
      <div class="box">
        
        <h3>modify your attendence</h3>
        <p>
          
        </p>
      </div>
      <div class="box">
        
        <h3>see your attendence</h3>
        <p>
          
        </p>
      </div>
    </div>
  </body>
</html>


</body>
</html>